@charset "utf-8";

/*모바일 버전*/

@media screen and (max-width:1400px) {
    .sub-section>.innerContainer {
        width: 100%;
        padding: 0px 20px;
    }
}


/*1200px 시작!*/

@media screen and (max-width:1200px) {
    #sub_container .sub_inner {
        width: 100%;
        padding: 0px 20px;
    }
    #sub_container2 .sub_inner {
        width: 100%;
        padding: 0px 20px;
    }
    #sub_content .sub_inner {
        width: 100%;
        padding: 0px 20px;
    }
    #img_position {
        position: static;
        width: 100%;
        padding: 2rem;
    }
    .sub_tab>.inner {
        width: 100%;
        height: 50%;
    }
    ul#tab_menu li {
        width: 20%;
        margin-left: 0px;
    }
    ul#tab_menu.sub2 li {
        width: 25%;
        margin-left: 0px;
    }
    .sr_box {
        padding: 40px 40px;
    }
    .sr_box>p {
        margin-left: 40px;
    }
    .sr_col1 {
        width: 100%;
        font-size: 0px;
    }
    .sr_col1 .map .sub_map {
        width: 100%;
        height: 485px;
        margin-bottom: 10px;
    }
    .sr_col2 .left {
        width: 49%;
        margin-right: 2%
    }
    .sr_col2 .left img {
        width: 100%;
    }
    .sr_col2 .left>h1 {
        font-size: 24px;
    }
    .sr_col2 .left>p {
        font-size: 14px;
    }
    .sr_col2 .left>span {
        font-size: 16px;
    }
    .sr_col2 .left>span:before {
        top: 20px;
    }
    .sr_col2 .right img {
        width: 100%;
    }
    .sr_col2 .right {
        width: 49%;
    }
    .sr_col2 .right>h1 {
        font-size: 24px;
    }
    .sr_col2 .right>p {
        font-size: 14px;
    }
    .sr_col2 .right>span {
        font-size: 16px;
    }
    .sr_col2 .right>span:before {
        top: 20px;
    }
    .sr_col2.greeting .left {
        width: 45%;
        margin-right: 0px;
    }
    .sr_col2.greeting .right {
        width: 55%;
    }
    .sr_col2.greeting .right>span strong {
        font-size: 30px;
    }
    .sr_col2.mediteam .left {
        margin-right: 0px;
    }
    .sr_col2.mediteam .right {
        padding: 40px;
    }
    .sr_col2.mediteam .right h1 {
        font-size: 30px;
    }
    .sr_col2.mediteam .right h1 p {
        font-size: 16px;
    }
    .sr_col2.mediteam .right .mediteam_info h1 {
        font-size: 14px;
    }
    .sr_col2.mediteam .right .mediteam_info ul {
        padding: 0px;
    }
    .sr_col2.mediteam .right .mediteam_info ul li {
        font-size: 14px;
    }
    .sr_col2.time_info .left {
        width: 50%;
        margin-right: 0px;
    }
    .sr_col2.time_info .right {
        width: 50%;
    }
    .sr_col2.time_info .right img {
        width: auto;
    }
    .sr_col2.canceryi span p {
        font-size: 14px;
    }
    .sr_col2.cancermy .left .sr_tit {
        padding-right: 0px;
    }
    .sr_col2.nesik .left {
        margin-right: 0px;
    }
    .sr_col2.doseo .left {
        width: 36%;
    }
    .sr_col3.reser li {
        border-right: dotted 1px #d9d9d9;
        padding: 0px;
        width: 33.3333333333%;
        margin-right: 0px;
        min-height: 412px;
    }
    .sr_col3.reser li:first-child {
        padding-left: 0px;
    }
    .sr_col3.reser li:last-child {
        border-right: dotted 0px #d9d9d9;
        padding-right: 0px;
    }
    .sr_col3 .tel_info {
        text-align: left;
    }
    .sr_col3 .tel_info>h1 {
        display: inline-block;
        vertical-align: top;
        padding-top: 3px;
        margin-bottom: 20px;
    }
    .sr_col3 .tel_info>span {
        display: inline-block;
        font-size: 18px;
        color: #121212;
        vertical-align: top;
        ;
        padding-top: 4px;
        margin: 0px 10px;
    }
    .sr_col3 .tel_info>p {
        display: inline-block;
        font-size: 20px;
        vertical-align: top;
        line-height: 1.3;
    }
    .sr_col3 .info_tit {
        width: 100%;
        background: #121212;
        color: #fff;
        line-height: 42px;
        font-size: 16px;
    }
    .sr_col3 .info_cont {
        background: #f8f8f8;
        padding: 20px;
        font-size: 14px;
        line-height: 2.0
    }
    .sr_col3 .info_cont strong {
        color: #121212;
        font-weight: normal;
        margin-right: 10px;
    }
    .sr_col3 .info_cont p {
        margin-top: 10px;
        font-size: 14px;
    }
    .sr_col3 .info_cont i {
        color: #121212;
        font-size: 14px;
        padding: 0px 3px;
    }
    .sr_col3 .info_cont.online {
        padding: 31px;
    }
    .sr_col3 .info_tit.blc {
        width: 80%;
        background: #333;
        color: #fff;
        margin: 50px auto 0px;
    }
    .tbl_calendar thead th span {
        display: none;
    }
    .sr_col2.greeting .pic_item {
        width: 100%;
        padding: 0px;
    }
    .sr_col2.greeting .pic_item ul {
        flex-wrap: wrap;
        justify-content: center;
    }
    .sr_col2.greeting .pic_item li {
        margin: 1rem 10px;
    }
}


/*1200px 끝!*/


/*1024px 시작!*/

@media screen and (max-width:1024px) {
    #img_position {
        position: static;
        width: 100%;
        padding: 2rem;
    }
    #sub_container {
        margin-top: 25px;
        padding-bottom: 30px;
    }
    #sub_container .sub_tit {
        font-size: 24px;
        color: #333;
        font-weight: normal;
        padding: 20px 0px;
        text-align: center;
    }
    #sub_container .sub_tit strong {
        color: #121212;
        font-weight: normal;
    }
    #sub_container2 {
        padding-bottom: 30px;
    }
    #sub_container2 .sub_tit {
        font-size: 24px;
        color: #333;
        font-weight: normal;
        padding: 20px 0px;
        text-align: center;
    }
    #sub_container2 .sub_tit strong {
        color: #121212;
        font-weight: normal;
    }
    #sub_content .sub_inner .sub_title {
        min-height: auto;
        margin-bottom: 50px;
    }
    #sub_content .sub_inner .sub_title h3 {
        font-size: 30px;
        padding-top: 100px;
    }
    #sub_content .sub_inner .sub_title h3 span {
        font-size: 30px;
    }
    #sub_content .sub_inner .sub_title h4 {
        font-size: 20px;
        padding: 0px 0 20px;
    }
    #sub_content .sub_inner .sub_title h4 span {
        font-size: 20px;
    }
    #sub_content .sub_inner .sub_title span {
        font-size: 13px;
        letter-spacing: -1px
    }
    #sub_content .sub_middle:after {
        clear: both;
        content: '';
        display: block
    }
    .shopbox {
        width: 100%;
        padding: 20px;
        border: 5px solid #efefef;
        font-size: 13.5px;
        text-align: center;
    }
    .shopbox ul {
        display: block;
    }
    .shopbox ul li {
        display: block;
    }
    .shopbox ul li span {
        color: #121212;
    }
    .sub_tab {
        position: relative;
    }
    .sub_tab>a {
        position: relative;
        display: block !important;
        width: 100%;
        height: 50px;
        padding-left: 15px;
        font-size: 16px;
        line-height: 48px;
        border: 1px solid #e0e0e0;
        background: #fff;
    }
    .sub_tab>a:after {
        font-family: xeicon;
        content: '\e942';
        position: absolute;
        right: 10px;
        top: 0px;
        color: #121212;
        font-size: 20px;
    }
    .sub_tab>a.open:after {
        font-family: xeicon;
        content: '\e945'
    }
    .sub_tab>a span {
        font-size: 20px;
        font-style: italic;
        position: relative;
        font-weight: 800;
        color: #121212
    }
    .sub_tab>a span:after {
        content: '';
        width: 100%;
        margin: auto;
        position: absolute;
        left: 0px;
        bottom: 0px;
        display: inline-block;
        border-bottom: solid 1px #121212;
        height: 1px;
    }
    .sub_tab>a p {
        font-size: 18px;
        font-weight: 500;
        color: #333333;
        letter-spacing: 0px;
        display: inline-block;
        margin-left: 10px;
    }
    ul#tab_menu_se li {
        width: 50%;
    }
    ul#tab_menu_se li:nth-child(1) {
        border-bottom: solid 1px #e2e2e2;
    }
    ul#tab_menu_se li:nth-child(2) {
        border-bottom: solid 1px #e2e2e2;
        border-right: solid 1px #e2e2e2;
    }
    ul#tab_menu_se li:nth-child(3) {
        border-bottom: solid 1px #e2e2e2;
        border-left: solid 1px #e2e2e2;
    }
    ul#tab_menu_se li:nth-child(4) {
        border-bottom: solid 1px #e2e2e2;
    }
    ul#tab_menu_se li.on {
        background: #f8f8f8
    }
    ul#tab_menu_se li:hover {
        background: #fff
    }
    ul#tab_menu_se li a {
        padding: 10px 0;
        color: #666;
        font-size: 13px;
    }
    ul#tab_menu_se li.on a {
        color: #121212
    }
    ul#tab_menu_se li:hover a {
        color: #666
    }
    ul#tab_menu_se.exam {
        margin-bottom: 0px
    }
    ul#tab_menu_se.exam li a {
        padding: 14px 0 14px;
    }
    ul#tab_menu_se.three li {
        width: 33.33333%;
        /*height:60px;*/
    }
    ul#tab_menu_se.three li:nth-child(1) {
        border-bottom: solid 0px #e2e2e2;
    }
    ul#tab_menu_se.three li:nth-child(2) {
        border-bottom: solid 0px #e2e2e2;
        border-right: solid 1px #e2e2e2;
    }
    ul#tab_menu_se.three li:nth-child(3) {
        border-bottom: solid 0px #e2e2e2;
    }
    ul#tab_menu_se.six li {
        width: 25%;
    }
    ul#tab_menu_se.six li:nth-child(1) {
        border-bottom: solid 0px #e2e2e2;
    }
    ul#tab_menu_se.six li:nth-child(2) {
        border-bottom: solid 0px #e2e2e2;
        border-right: solid 1px #e2e2e2;
    }
    ul#tab_menu_se.six li:nth-child(3) {
        border-bottom: solid 0px #e2e2e2;
    }
    ul#tab_menu_se.six li:nth-child(4) {
        border-right: solid 1px #e2e2e2;
    }
    ul#tab_menu_se.six li:nth-child(5) {
        border-top: solid 1px #e2e2e2;
    }
    ul#tab_menu_se.six li:nth-child(6) {
        border-top: solid 1px #e2e2e2;
        border-right: solid 1px #e2e2e2;
    }
    ul#tab_menu_se.six li:nth-child(7) {
        border-left: solid 0px #e2e2e2;
    }
    ul#tab_menu_se.six li:nth-child(8) {
        border-right: solid 1px #e2e2e2;
    }
    ul#tab_menu_se.six_long li {
        width: 50%;
        height: 40px;
        line-height: 40px;
    }
    ul#tab_menu_se.six_long li:nth-child(1) {}
    ul#tab_menu_se.six_long li:nth-child(2) {}
    ul#tab_menu_se.six_long li:nth-child(3) {
        border-bottom: solid 0px #e2e2e2;
    }
    ul#tab_menu_se.six_long li:nth-child(4) {
        border-right: solid 1px #e2e2e2;
    }
    ul#tab_menu_se.six_long li:nth-child(5) {
        border-top: solid 1px #e2e2e2;
    }
    ul#tab_menu_se.six_long li:nth-child(6) {
        border-top: solid 1px #e2e2e2;
    }
    ul#tab_menu_se.six_long li:nth-child(8) {
        border-right: solid 1px #e2e2e2;
    }
    ul#tab_menu_se.five {
        border-bottom: none;
    }
    ul#tab_menu_se.five li {
        width: 50%;
        /*height:40px;line-height:40px;*/
    }
    ul#tab_menu_se.five li:nth-child(1) {
        border-bottom: solid 1px #e2e2e2;
    }
    ul#tab_menu_se.five li:nth-child(2) {
        border-bottom: solid 1px #e2e2e2;
        border-right: solid 1px #e2e2e2;
    }
    ul#tab_menu_se.five li:nth-child(3) {
        border-bottom: solid 1px #e2e2e2;
    }
    ul#tab_menu_se.five li:nth-child(4) {
        border-right: solid 1px #e2e2e2;
        border-bottom: solid 1px #e2e2e2;
    }
    ul#tab_menu_se.five li:nth-child(5) {
        border-bottom: solid 0px #e2e2e2;
        border-right: solid 1px #e2e2e2;
    }
    ul#tab_menu_se2 li {
        width: 33%;
    }
    ul#tab_menu_se2 li:nth-child(1) {
        border-bottom: solid 1px #e2e2e2;
    }
    ul#tab_menu_se2 li:nth-child(2) {
        border-bottom: solid 1px #e2e2e2;
        border-right: solid 1px #e2e2e2;
    }
    ul#tab_menu_se2 li:nth-child(3) {
        border-bottom: solid 1px #e2e2e2;
        border-left: solid 1px #e2e2e2;
    }
    ul#tab_menu_se2 li:nth-child(4) {
        border-bottom: solid 1px #e2e2e2;
    }
    ul#tab_menu_se2 li.on {
        background: #f8f8f8
    }
    ul#tab_menu_se2 li:hover {
        background: #fff
    }
    ul#tab_menu_se2 li a {
        padding: 10px 0;
        color: #666;
        font-size: 13px;
    }
    ul#tab_menu_se2 li.on a {
        color: #121212
    }
    ul#tab_menu_se2 li:hover a {
        color: #666
    }
    ul#tab_menu_se2.exam {
        margin-bottom: 0px
    }
    ul#tab_menu_se2.exam li a {
        padding: 14px 0 14px;
    }
    ul#tab_menu_se2.three li {
        width: 33.33333%;
        /*height:60px;*/
    }
    ul#tab_menu_se2.three li:nth-child(1) {
        border-bottom: solid 0px #e2e2e2;
    }
    ul#tab_menu_se2.three li:nth-child(2) {
        border-bottom: solid 0px #e2e2e2;
        border-right: solid 1px #e2e2e2;
    }
    ul#tab_menu_se2.three li:nth-child(3) {
        border-bottom: solid 0px #e2e2e2;
    }
    ul#tab_menu_se2.six li {
        width: 25%;
    }
    ul#tab_menu_se2.six li:nth-child(1) {
        border-bottom: solid 0px #e2e2e2;
    }
    ul#tab_menu_se2.six li:nth-child(2) {
        border-bottom: solid 0px #e2e2e2;
        border-right: solid 1px #e2e2e2;
    }
    ul#tab_menu_se2.six li:nth-child(3) {
        border-bottom: solid 0px #e2e2e2;
    }
    ul#tab_menu_se2.six li:nth-child(4) {
        border-right: solid 1px #e2e2e2;
    }
    ul#tab_menu_se2.six li:nth-child(5) {
        border-top: solid 1px #e2e2e2;
    }
    ul#tab_menu_se2.six li:nth-child(6) {
        border-top: solid 1px #e2e2e2;
        border-right: solid 1px #e2e2e2;
    }
    ul#tab_menu_se2.six li:nth-child(7) {
        border-left: solid 0px #e2e2e2;
    }
    ul#tab_menu_se2.six li:nth-child(8) {
        border-right: solid 1px #e2e2e2;
    }
    ul#tab_menu_se2.six_long li {
        width: 50%;
        height: 40px;
        line-height: 40px;
    }
    ul#tab_menu_se2.six_long li:nth-child(1) {}
    ul#tab_menu_se2.six_long li:nth-child(2) {}
    ul#tab_menu_se2.six_long li:nth-child(3) {
        border-bottom: solid 0px #e2e2e2;
    }
    ul#tab_menu_se2.six_long li:nth-child(4) {
        border-right: solid 1px #e2e2e2;
    }
    ul#tab_menu_se2.six_long li:nth-child(5) {
        border-top: solid 1px #e2e2e2;
    }
    ul#tab_menu_se2.six_long li:nth-child(6) {
        border-top: solid 1px #e2e2e2;
    }
    ul#tab_menu_se2.six_long li:nth-child(8) {
        border-right: solid 1px #e2e2e2;
    }
    ul#tab_menu_se2.five {
        border-bottom: none;
    }
    ul#tab_menu_se2.five li {
        width: 50%;
        /*height:40px;line-height:40px;*/
    }
    ul#tab_menu_se2.five li:nth-child(1) {
        border-bottom: solid 1px #e2e2e2;
    }
    ul#tab_menu_se2.five li:nth-child(2) {
        border-bottom: solid 1px #e2e2e2;
        border-right: solid 1px #e2e2e2;
    }
    ul#tab_menu_se2.five li:nth-child(3) {
        border-bottom: solid 1px #e2e2e2;
    }
    ul#tab_menu_se2.five li:nth-child(4) {
        border-right: solid 1px #e2e2e2;
        border-bottom: solid 1px #e2e2e2;
    }
    ul#tab_menu_se2.five li:nth-child(5) {
        border-bottom: solid 0px #e2e2e2;
        border-right: solid 1px #e2e2e2;
    }
    /*3DEPT*/
    .sub_tab_area {
        width: 100%;
        position: relative;
        border-bottom: 1px solid #e2e2e2;
        padding-bottom: 20px;
    }
    .sub_tab_area>a {
        display: none;
    }
    ul#tab_menu_th {
        position: relative;
        width: 100%;
        display: table;
        table-layout: fixed;
        padding: 0px;
        font-size: 0px;
        margin: 0 auto;
    }
    ul#tab_menu_th li {
        display: inline-block;
        width: 33.3%;
        text-align: center;
        background: #fff;
        transition: all 0.3s ease;
    }
    ul#tab_menu_th li:first-child {
        margin-left: 0px;
    }
    ul#tab_menu_th li.on {
        color: #121212
    }
    ul#tab_menu_th li:hover {
        color: #121212;
    }
    ul#tab_menu_th li a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px 0;
        color: #333333;
        font-size: 13px;
        transition: all 0.3s ease;
    }
    ul#tab_menu_th li.on a {
        color: #121212;
        text-decoration: underline;
    }
    ul#tab_menu_th li:hover a {
        color: #121212;
        text-decoration: underline;
    }
    .reser_tab ul li {
        width: 50%;
    }
    .reser_tab ul li a {
        width: 100%;
        height: 46px;
        line-height: 44px;
        font-size: 13px;
    }
    .reser_tab ul li.on a {
        line-height: 40px;
    }
    section>p.desc {
        font-size: 13px;
        margin-top: 20px;
        line-height: 1.7;
    }
    .sr_box {
        padding: 20px;
        text-align: center;
    }
    .sr_box>h1 {
        text-align: center;
        margin-bottom: 10px;
    }
    .sr_box>h1 span {
        font-size: 18px;
        margin-left: 0px;
        top: 0px;
        display: block;
        text-align: center;
        margin-top: 10px;
    }
    .sr_box>p {
        display: block;
        text-align: center;
        font-size: 13px;
        margin-left: 0px;
        line-height: 2;
        padding-top: 0px;
    }
    .sr_table {
        width: 100%;
        position: relative;
        overflow-x: scroll;
    }
    .sr_table table {
        width: 1000px;
    }
    .sr_table th,
    .sr_table td {
        font-size: 13.5px;
        padding: 13px 0px;
    }
    .breast .sr_table.col2 th,
    .breast .sr_table.col2 td {
        font-size: 13.5px;
        padding: 13px 0px 13px 13px;
    }
    .sr_col1 {
        width: 100%;
        font-size: 0px;
    }
    .sr_col1 .map .sub_map {
        width: 100%;
        height: 485px;
        margin-bottom: 10px;
    }
    .sr_col2 {
        font-size: 0px;
    }
    .sr_col2 .left {
        width: 100%;
        text-align: center;
        padding-right: 0px !important;
    }
    .sr_col2 .left img {
        width: 100%;
    }
    .sr_col2 .left>h1 {
        font-size: 18px;
        font-weight: normal;
        letter-spacing: -1px;
    }
    .sr_col2 .left>p {
        font-size: 13.5px;
        margin-top: 40px;
        line-height: 1.8;
    }
    .sr_col2 .left>span.line {
        font-size: 14px;
        margin-left: 40px;
        margin-top: 40px;
        position: relative;
    }
    .sr_col2 .left>span.line:before {
        content: '';
        height: 1px;
        width: 35px;
        background: #121212;
        left: -40px;
        top: 16px;
        position: absolute;
    }
    .sr_col2 .left>span.line strong {
        font-size: 23px;
        margin-left: 10px;
    }
    .sr_col2 .right {
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }
    .sr_col2 .right>h1 {
        font-size: 18px;
        font-weight: normal;
        letter-spacing: -1px;
    }
    .sr_col2 .right>p {
        font-size: 13.5px;
        margin-top: 40px;
        line-height: 1.8;
    }
    .sr_col2 .right>span.line {
        font-size: 14px;
        margin-left: 40px;
        margin-top: 40px;
        position: relative;
    }
    .sr_col2 .right>span.line:before {
        content: '';
        height: 1px;
        width: 35px;
        background: #121212;
        left: -40px;
        top: 16px;
        position: absolute;
    }
    .sr_col2 .right>span.line strong {
        font-size: 23px;
        margin-left: 10px;
    }
    .sr_col2.greeting .left {
        width: 100%;
    }
    .sr_col2.greeting .left.wid80>img {
        width: 80%;
    }
    .sr_col2.greeting .right {
        width: 100%;
    }
    .sr_col2.greeting .right>img {
        width: 80%;
    }
    .sr_col2.time_info .left {
        width: 100%;
    }
    .sr_col2.time_info .right {
        width: 100%;
    }
    .sr_col2.time_info .right img {
        width: auto;
    }
    .sr_col2.time_info .right {
        border-top: solid 0px #121212;
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .sr_col2.time_info .right span {
        font-size: 18px;
        margin-top: 10px;
        ;
    }
    .sr_col2.time_info .right p {
        font-size: 13px;
        margin-top: 10px;
    }
    .sr_col2.time_info .right p strong {
        color: #121212
    }
    .sr_col2.mediteam {
        margin-bottom: 20px;
    }
    .sr_col2.mediteam:last-child {
        margin-bottom: 0px;
    }
    .sr_col2.mediteam .left {
        padding-right: 0px;
    }
    .sr_col2.mediteam .left img {
        width: 100%;
    }
    .sr_col2.mediteam .right {
        padding: 0px 20px 20px;
        text-align: left;
    }
    .sr_col2.mediteam .right>h1 {
        font-size: 20px;
        letter-spacing: -2px;
    }
    .sr_col2.mediteam .right>h1 p {
        font-size: 13px;
        color: #888;
    }
    .sr_col2.mediteam .right .mediteam_info {
        margin-top: 10px;
        font-size: 0px;
    }
    .sr_col2.mediteam .right .mediteam_info ul:after {
        display: none;
    }
    .sr_col2.mediteam .right .mediteam_info ul:before {
        display: none
    }
    .sr_col2.mediteam .right .mediteam_info ul li {
        line-height: 1;
        font-size: 13.5px;
        letter-spacing: -1px;
    }
    .sr_col2.mediteam .right .mediteam_info ul li span {
        font-size: 13.5px;
        line-height: 1;
        width: 100%;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .sr_col2.mediteam .right .mediteam_info ul li p {
        font-size: 13.5px;
        width: 100%;
        margin-bottom: 5px;
    }
    .sr_col2.mediteam .right .mediteam_info ul li span.empty {
        display: none;
    }
    .history>h1 {
        height: auto;
        font-size: 18px;
        padding: 20px 0px;
        letter-spacing: -1px;
    }
    .history .his_list {
        height: auto;
        padding: 30px 0px 50px;
    }
    .history .his_list:before {
        height: 870px;
        left: 20px;
        top: 48px;
        content: '';
    }
    .history .his_list h2 {
        color: #000;
        font-size: 20px;
        margin-bottom: 5px;
        position: relative;
    }
    .history .his_list .left_list h2:before {
        width: 10px;
        height: 10px;
        right: auto;
        left: -25px;
        top: 8px;
    }
    .history .his_list .right_list h2:before {
        width: 10px;
        height: 10px;
        left: -25px;
        top: 8px;
        background: #121212;
    }
    .history .his_list p {
        font-size: 13px;
        line-height: 1.5;
    }
    .history .his_list .left_list:first-child {
        margin-top: 0px;
    }
    .history .his_list .left_list {
        position: relative;
        left: 40px;
        text-align: left;
        margin-top: 20px;
        width: 100%;
        margin-left: 0px;
    }
    .history .his_list .right_list {
        position: relative;
        left: 40px;
        margin-top: 20px;
        width: 100%;
        margin-left: 0px;
    }
    .history .his_list .right_list figure {
        margin-top: 10px;
    }
    .sr_col2.ready .left {
        border-right: dotted 0px #d9d9d9;
        padding-right: 0px;
    }
    .sr_col2.ready .right {
        padding-left: 0px;
        margin-top: 40px
    }
    .sr_col2.jaga .left {
        text-align: left;
    }
    .sr_col2.jaga .right {
        text-align: left;
        margin-top: 0px;
    }
    .sr_col2.jaga span {
        font-size: 13px;
        margin-bottom: 20px;
    }
    .sr_col2.jaga span p {
        font-size: 13px;
        padding: 5px 0px;
    }
    .sr_col2.cancerdf>p.desc {
        line-height: 1.7;
        font-size: 13px;
        margin-top: 0px;
    }
    .sr_col2.canceryi .right {
        margin-top: 0px;
    }
    .sr_col2.canceryi span {
        font-size: 13px;
        margin-bottom: 10px;
        display: block;
        text-align: left;
    }
    .sr_col2.canceryi span p {
        font-size: 13px;
        padding: 5px 0px 0px 5px;
    }
    .sr_col2.canceryi span p b {
        padding: 10px 0px 0px 0px;
        display: inline;
    }
    .sr_col2.canceryi span.upline2 {
        padding-left: 0px;
        display: inline;
    }
    .sr_col2.canceryi span.line2 {
        padding-left: 0px;
        display: inline
    }
    .sr_col2.yebang .box_title {
        width: 100%;
        height: 40px;
        float: none;
        display: block;
        ;
        font-size: 13px;
        padding-top: 13px;
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .sr_col2.yebang .box_title_long {
        width: 100%;
        height: 40px;
        float: none;
        display: block;
        ;
        font-size: 13px;
        padding-top: 13px;
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .sr_col2.yebang .box_title.mtwo {
        height: 60px;
        padding-top: 10px;
    }
    .sr_col2.yebang .box_title.three {
        height: 40px;
        padding-top: 13px;
    }
    .sr_col2.yebang .box_title.seven {
        height: 40px;
        padding-top: 13px;
    }
    .sr_col2.nesi {
        margin-bottom: 20px;
    }
    .sr_col2.nesi p.desc {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .sr_col2.nesi .left {
        margin-bottom: 10px;
    }
    .sr_col2.doseo .left {
        width: 100%;
    }
    .sr_col2.doseo .left img {
        width: 80%;
    }
    .sr_col2.doseo .right {
        width: 100%;
    }
    #tabs-menu li {
        width: 50%;
    }
    #tabs-menu li a {
        height: 36px;
        font-size: 13px;
        background: #f8f8f8;
        padding-top: 8px;
        border-bottom: solid 0px #e5e5e5;
    }
    #tabs-menu li:nth-child(2) a {
        border-right: solid 1px #e5e5e5;
    }
    #tabs-menu li:nth-child(3) a {
        border-bottom: solid 1px #e5e5e5;
    }
    #tabs-menu li:last-child a {
        border-right: solid 1px #e5e5e5;
        border-bottom: solid 1px #e5e5e5;
    }
    #tabs-menu li#tab-1 a:hover,
    #tabs-menu li#tab-1 a.selected {
        border-bottom-color: #e5e5e5;
    }
    #tabs-menu li#tab-2 a:hover,
    #tabs-menu li#tab-2 a.selected {
        border-bottom-color: #e5e5e5;
    }
    #tabs-menu li#tab-3 a:hover,
    #tabs-menu li#tab-3 a.selected {
        border-bottom-color: #e5e5e5;
    }
    #tabs-menu li#tab-4 a:hover,
    #tabs-menu li#tab-4 a.selected {
        border-bottom-color: #e5e5e5;
    }
    .tabs-content {
        padding: 20px 0;
    }
    .sr_col2.cancermy .left {
        text-align: left;
    }
    .sr_col2.cancermy .right {
        text-align: left;
    }
    .sr_col2.cancermy .left .sr_tit {
        padding-right: 0px;
    }
    .sr_col2.mysystem .right {
        padding-top: 0px;
    }
    .sr_col2.mysystem .right>p {
        margin-top: 20px;
    }
    .sr_col2.jdsystem .right {
        padding-top: 0px;
    }
    .sr_col2.nesik h3 {
        font-size: 13px;
    }
    .sr_col2.nesik span {
        font-size: 13px;
    }
    .sr_col2.nesik .left {
        width: 100%;
        margin-right: 0px;
        text-align: left;
    }
    .sr_col2.nesik .right {
        width: 100%;
    }
    .sr_col2.nesik.second .right {
        padding: 0px;
    }
    .sr_col3 ul li {
        display: inline-block;
        text-align: center;
        width: 32%;
        margin-right: 2%;
    }
    .sr_col3 ul li:last-child {
        margin-right: 0px;
    }
    .sr_col3 ul li>p {
        font-size: 13.5px;
        padding-top: 10px;
    }
    .sr_col3.reser li {
        border-right: dotted 0px #d9d9d9;
        padding: 0px;
        width: 100%;
        margin-right: 0px;
        min-height: auto;
        margin-bottom: 40px;
    }
    .sr_col3.reser li:last-child {
        margin-bottom: 0px;
    }
    .sr_col3 .tel_info {
        text-align: left;
    }
    .sr_col3 .tel_info>h1 {
        margin-bottom: 15px;
    }
    .sr_col3 .tel_info>h1 img {
        width: 30px;
    }
    .sr_col3 .tel_info>span {
        font-size: 14px;
        padding-top: 0px;
        margin: 0px 10px;
    }
    .sr_col3 .tel_info>p {
        font-size: 15px;
    }
    .sr_col3 .info_tit {
        font-size: 13px;
    }
    .sr_col3 .info_cont {
        padding: 15px;
        font-size: 13.5px;
    }
    .sr_col3 .info_cont p {
        margin-top: 10px;
        font-size: 13.5px;
    }
    .sr_col3 .info_cont i {
        font-size: 11px;
        padding: 0px 3px;
    }
    .sr_col3 .info_cont.online {
        padding: 15px;
    }
    .sr_col3 .info_tit.blc {
        width: 100%;
        margin: 20px auto 0px;
    }
    .sr_col3 .info_tit.blc a {
        font-size: 13px;
    }
    .sr_col4 ul li {
        width: 49%;
        margin-right: 2%;
        margin-bottom: 20px;
    }
    .sr_col4 ul li:last-child,
    .sr_col4 ul li:nth-child(2) {
        margin-right: 0px;
    }
    .sr_col4 ul li:nth-child(3),
    .sr_col4 ul li:nth-child(4) {
        margin-bottom: 0px;
    }
    .sr_col4 ul li p {
        font-size: 14px;
        padding-top: 10px;
    }
    .sr_col4.icon ul li {
        padding: 40px 0px 45px;
        margin-bottom: 10px;
    }
    .sr_col4.icon ul li p {
        font-size: 13.5px;
        padding-top: 5px;
    }
    .sr_col4_style2 ul li {
        width: 49%;
        margin-right: 2%;
        height: 140px;
    }
    .sr_col4_style2 ul li:last-child,
    .sr_col4_style2 ul li:nth-child(2) {
        margin-right: 0px;
    }
    .sr_col4_style2 ul li:nth-child(3),
    .sr_col4_style2 ul li:nth-child(4) {
        margin-top: 10px;
    }
    .sr_col4_style2 ul li span {
        font-size: 14px;
        color: #121212;
        font-style: italic;
        font-weight: bold;
        position: relative;
        padding-left: 18px;
    }
    .sr_col4_style2 ul li span:before {
        top: 10px;
        width: 20px;
    }
    .sr_col4_style2 ul li p {
        font-size: 13px;
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .sr_col4_style2 ul li p.line2 {
        padding-top: 5px;
    }
    .sr_col4_style2.five ul li {
        width: 49%;
        margin-right: 2%;
        height: 140px;
    }
    .sr_col4_style2.five ul li:last-child,
    .sr_col4_style2.five ul li:nth-child(2),
    .sr_col4_style2.five ul li:nth-child(4) {
        margin-right: 0px;
    }
    .sr_col4_style2.five ul li:nth-child(3),
    .sr_col4_style2.five ul li:nth-child(4),
    .sr_col4_style2.five ul li:nth-child(5) {
        margin-top: 10px;
    }
    .sr_col4_style2.ten ul li {
        width: 49%;
        margin-right: 2%;
        height: 140px;
    }
    .sr_col4_style2.ten ul li:last-child,
    .sr_col4_style2.ten ul li:nth-child(2),
    .sr_col4_style2.ten ul li:nth-child(4),
    .sr_col4_style2.ten ul li:nth-child(6),
    .sr_col4_style2.ten ul li:nth-child(8) {
        margin-right: 0px;
    }
    .sr_col4_style2.ten ul li:nth-child(5) {
        margin-right: 2% !important;
    }
    .sr_col4_style2.three ul li {
        width: 49%;
        margin-right: 2%;
        height: 140px;
    }
    .sr_col4_style2.three ul li:last-child,
    .sr_col4_style2.three ul li:nth-child(2),
    .sr_col4_style2.three ul li:nth-child(4),
    .sr_col4_style2.three ul li:nth-child(6),
    .sr_col4_style2.three ul li:nth-child(8) {
        margin-right: 0px;
    }
    .sr_col4_style2.three ul li:nth-child(5) {
        margin-right: 2% !important;
    }
    .sr_col4_style2.nine ul li {
        width: 100%;
        height: 190px;
    }
    .sr_col4.three ul li {
        width: 100%;
        margin-right: 0px;
        padding: 40px 0px 0px;
        height: 140px;
    }
    .sr_col4.three ul li.line2 {
        padding-top: 20px;
    }
    .sr_col4.three ul li.line3 {
        padding-top: 10px;
        height: 160px;
    }
    .sr_col4.three_long ul li {
        width: 100%;
        margin-right: 0px;
        padding: 50px 20px 50px 20px;
        height: auto;
    }
    .sr_col4.three_long ul li.line2 {
        padding-top: 20px;
    }
    .sr_col4.three_long ul li.line3 {
        /*padding-top:10px;*/
        height: auto;
    }
    .sr_col4.four ul li {
        width: 100%;
        margin-right: 0px;
        padding: 40px 20px 0px;
        height: 230px;
    }
    .sr_col4.four_long ul li {
        width: 100%;
        margin-right: 0px;
        padding: 40px 20px 0px;
        height: 230px;
    }
    .sr_col4.four ul li:nth-child(3),
    .sr_col4.four ul li:nth-child(4) {
        margin-top: 0px;
    }
    .sr_col4.four ul li.line3 {
        padding-top: 40px;
    }
    .sr_col4.four ul li.mline4 {
        height: 300px
    }
    .sr_col4.four_long ul li:nth-child(3),
    .sr_col4.four_long ul li:nth-child(4) {
        margin-top: 0px;
    }
    .sr_col4.four_long ul li.line3 {
        padding-top: 40px;
    }
    .sr_col4.six ul li {
        width: 100%;
        margin-right: 0px;
        padding: 40px 20px 0px;
        height: 230px;
    }
    .sr_col4.six ul li:nth-child(3),
    .sr_col4.six ul li:nth-child(4) {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .sr_col4.six ul li.line3 {
        padding-top: 40px;
    }
    .sr_col4.bus span {
        font-size: 13px;
    }
    .sr_tit>h1 {
        font-size: 14px;
    }
    .sr_tit>h1 i {
        color: #121212
    }
    .sr_tit>span {
        line-height: 1.7;
        font-size: 13px;
        margin-top: 10px;
        display: block;
        margin-bottom: 30px;
    }
    .sr_tit>p {
        font-size: 13.5px;
        width: 50%;
        margin-bottom: 10px;
        text-align: left;
    }
    .sr_tit2 h1 {
        margin-bottom: 15px;
        text-align: left;
    }
    .sr_tit2 h1 p {
        font-size: 20px;
        margin-left: 0px;
        display: inline-block;
    }
    .sr_tit2 h1 span {
        font-size: 40px;
    }
    .sr_tit2 p.desc {
        font-size: 13.5px;
        margin-bottom: 20px;
        text-align: left;
    }
    .sr_tit2 p.line2 {
        position: relative;
        top: 0px;
    }
    .sr_graph4 {
        padding: 25px 0px;
        margin-bottom: 20px;
    }
    .sr_graph4 ul li {
        width: 49%;
        margin-right: 2%;
        margin-bottom: 50px;
    }
    .sr_graph4 ul li:last-child,
    .sr_graph4 ul li:nth-child(2) {
        margin-right: 0px;
    }
    .sr_graph4 ul li:nth-child(3),
    .sr_graph4 ul li:nth-child(4) {
        margin-bottom: 0px;
    }
    .sr_graph4 ul li:before {
        font-family: 'xeicon';
        content: '\e90b';
        right: -15px;
        top: 28px;
        font-size: 24px;
    }
    .sr_graph4 ul li:nth-child(2):before {
        font-family: 'xeicon';
        content: '\e90a';
        right: 95%;
        top: 105px;
        transform: rotate(45deg)
    }
    .sr_graph4 ul li:last-child:before {
        display: none;
    }
    .sr_graph4 ul li span {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        border: solid 2px #e1e1e1;
        background: #fff;
        display: block;
        margin: auto;
        font-size: 13px;
        vertical-align: middle;
        padding-top: 28px;
    }
    .sr_graph4 ul li span.addpd {
        padding-top: 38px;
    }
    .sr_graph4 ul li span.on {
        border: solid 2px #121212;
    }
    /*코딩크루 20220630
    MBTI page*/
    .mbti_main_img {
        width: 100%;
        margin: 10px 0 10px 0;
    }
    .mbti_main ul {
        display: flex;
        margin-bottom: 2rem;
    }
    .mbti_main li {
        width: 50%;
    }
    .m_type_title,
    .f_type_title,
    .s_type_title,
    .c_type_title {
        text-align: center;
        margin-top: 1rem;
    }
    .m_type_title .down_card .card_main_li {
        font-size: 13px;
    }
    .f_type_title.down_card .card_main_li {
        font-size: 13px;
    }
    .s_type_title.down_card .card_main_li {
        font-size: 13px;
    }
    .c_type_title.down_card .card_main_li {
        font-size: 13px;
    }
    .card_li {
        width: 40%;
        border-left: 1px solid #dcdcdc;
        border-right: 1px solid #dcdcdc;
        border-bottom: 1px solid #dcdcdc;
        text-align: center;
        min-height: 33rem;
    }
    .card_li>img {
        width: 100%;
        padding: 0.5rem;
    }
    .height_line {
        padding: 0.3rem 0;
    }
    .up_card {
        margin-top: 1rem;
        margin-bottom: 5px;
        padding: 1rem 0rem;
        height: 50%;
    }
    p.text_black {
        font-weight: bold;
        font-size: 15px;
        letter-spacing: -0.1rem;
    }
    p.text_gray {
        font-size: 15px;
        font-weight: 600;
        color: gray;
        letter-spacing: -0.1rem;
    }
    .type_title_card ul {
        flex-wrap: wrap;
        justify-content: center;
        align-items: self-end;
    }
    .mbti_box li>img {
        width: 100%;
    }
}

@media screen and (max-height:950px) {
    .munjinpo {
        height: 90%;
    }
    .popbox {
        padding: 10px 20px;
    }
    .coolp {
        overflow-x: hidden;
    }
    .coolp img {
        width: 100%;
    }
    p.half {
        width: 100%;
        font-size: 13px;
        padding-bottom: 20px;
        padding-right: 0px;
    }
    p.half strong {
        height: 10px;
    }
    .tbl_board.community_sub2 .att_title:nth-child(1) {
        display: none;
    }
    .tbl_board.community_sub2 .att_title:nth-child(2) {
        display: none;
    }
    .tbl_board.community_sub2 .att_title:nth-child(4) {
        display: none;
    }
    .tbl_board.community_sub2 .bbsno {
        display: none;
    }
    .tbl_board.community_sub2 .bbscategory {
        display: none;
    }
    .tbl_board.community_sub2 .bbswriter {
        display: none;
    }
    .tbl_board.jobs .att_title:nth-child(1) {
        display: none;
    }
    .tbl_board.jobs .att_title:nth-child(3) {
        display: none;
    }
    .tbl_board.jobs .att_title:nth-child(5) {
        display: none;
    }
    .tbl_board.jobs .bbsno {
        display: none;
    }
    .tbl_board.jobs .bbscategory {
        display: none;
    }
    .tbl_board.jobs .bbswriter {
        display: none;
    }
    .tbl_board.jobs .bbsetc_view_count {
        display: none;
    }
    .tbl_board.online .att_title:nth-child(1) {
        display: none;
    }
    .tbl_board.online .att_title:nth-child(3) {
        display: none;
    }
    .tbl_board.online .att_title:nth-child(4) {
        display: none;
    }
    .tbl_board.online .bbsno {
        display: none;
    }
    .tbl_board.online .bbscategory {
        display: none;
    }
    .tbl_board.online .bbswriter {
        display: none;
    }
    .tbl_board.notice .att_title:nth-child(1) {
        display: none;
    }
    .tbl_board.notice .att_title:nth-child(3) {
        display: none;
    }
    .tbl_board.notice .att_title:nth-child(4) {
        display: none;
    }
    .tbl_board.notice .att_title:nth-child(6) {
        display: none;
    }
    .tbl_board.notice .bbsno {
        display: none;
    }
    .tbl_board.notice .bbscategory {
        display: none;
    }
    .tbl_board.notice .bbswriter {
        display: none;
    }
    .tbl_board.notice .bbsdescription {
        display: none;
    }
    .tbl_board.notice .bbsetc_view_count {
        display: none;
    }
    .tbl_board .bbsnewf5 {
        overflow: hidden;
        position: relative;
    }
    .tbl_board .bbsnewf5 a {
        word-break: keep-all;
    }
    .tbl_board #post_area img {
        width: 100% !important;
        height: auto !important;
    }
    .board_tab {
        margin-bottom: 30px
    }
    .board_tab>ul {
        display: table;
        width: 100%;
        table-layout: fixed
    }
    .board_tab>ul>li {
        display: table-cell;
        width: auto
    }
    .board_tab>ul>li>a {
        display: block;
        width: 100%;
        height: 100%;
        height: auto;
        font-size: 12px;
        color: #333;
        text-align: center;
        line-height: 30px;
        border: 0px solid #d5d5d5;
        border-left: none
    }
    .board_tab>ul>li:first-child>a {
        border-left: 0px solid #d5d5d5
    }
    .board_tab>ul>li.on>a {
        color: #fff;
        border-color: #121212;
        background: #121212 !important;
        border-radius: 3px !important;
    }
    .board_tab>ul>li:hover>a {
        background: #f4f4f4;
    }
    .board_desc input {
        width: 100%;
    }
    .btn {
        padding: 0px 15px !important;
        line-height: 23px !important;
        height: 25px !important;
        font-size: 13px !important;
    }
    #ext_search select {
        height: 25px !important;
    }
    #ext_search input[type=text] {
        height: 25px !important;
    }
    .sub-section .section-tit h2 {
        font-size: 22px;
        margin-bottom: 0px;
    }
    .sub-section .section-tit {
        font-size: 12px;
        margin-bottom: 20px;
    }
    #css_orderform table th,
    #css_orderform table td {
        display: block;
        width: 100%;
        text-align: left;
    }
    .reser-time th {
        width: 100%;
        display: block;
        text-align: left;
    }
    .reser-time td {
        width: 100%;
        display: block;
    }
    .loginWrapper>.login-box {
        width: 100%;
    }
    .joinWrapper>.join-box {
        width: 100%;
    }
    .member-box h2 {
        font-size: 22px;
        margin-bottom: 10px;
    }
    .loginWrapper>.login-box:first-child {
        margin-bottom: 20px;
    }
    .tab-primary {
        display: table;
        width: 100%;
        margin-bottom: 30px;
        table-layout: fixed
    }
    .tab-primary>li {
        display: table-cell;
        width: auto;
        height: 40px;
        text-align: center;
        vertical-align: middle
    }
    .tab-primary>li a {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 13px;
        color: #333;
        line-height: 40px;
        text-align: center;
        border: 1px solid #d5d5d5;
        border-left: none
    }
    .tab-primary>li:first-child a {
        border-left: 1px solid #d5d5d5
    }
    .tab-primary>li.active a {
        color: #fff;
        border-color: #b64f14;
        background: #b64f14 !important
    }
    .tab-primary>li:hover a {
        background: #f4f4f4
    }
}

@media screen and (max-width:768px) {
    .tbl_calendar thead th span {
        display: none;
    }
    #img_position {
        position: static;
        width: 100%;
        padding: 2rem;
    }
    .sr_col2.greeting .pic_item {
        width: 100%;
        padding: 0px;
    }
    .sr_col2.greeting .pic_item ul {
        flex-wrap: wrap;
        justify-content: center;
    }
    .sr_col2.greeting .pic_item li {
        margin: 1rem 10px;
    }
    .sr_col2.greeting .pic_item li>img {
        width: 230px;
    }
}

@media screen and (max-width:640px) {
    .sr_col2.greeting .pic_item {
        width: 100%;
        padding: 0px;
    }
    .sr_col2.greeting .pic_item ul {
        flex-wrap: wrap;
        justify-content: center;
    }
    .sr_col2.greeting .pic_item li {
        margin: 1rem 10px;
    }
    #img_position {
        position: static;
        width: 100%;
        padding: 2rem;
    }
    .sr_col2.greeting .pic_item li>img {
        width: 230px;
    }
}

@media screen and (max-width:480px) {
    #img_position {
        position: static;
        width: 100%;
        padding: 2rem;
    }
    .sr_col2.greeting .pic_item {
        width: 100%;
        padding: 0px;
    }
    .sr_col2.greeting .pic_item ul {
        flex-wrap: wrap;
        justify-content: center;
    }
    .sr_col2.greeting .pic_item li {
        margin: 1rem 10px;
    }
    #img_position {
        position: static;
        width: 100%;
        padding: 2rem;
    }
    .sr_col2.greeting .pic_item li>img {
        width: 100px;
    }
    .sr_col2.greeting {
        padding: 0px;
    }
}

@media screen and (max-width:679px) {
    .card_li {
        width: 40%;
        min-height: 35rem;
        padding-top: 10px;
    }
}