.elementor-widget-wrap {
    max-width: 1500px;
    margin: auto;
}

.container {
    max-width: 1400px;
    margin: auto;
}

.item_wrap .row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 20px;
}

.jws_selectbox {
    width: 300px;
    height: 350px;
}

.item_wrap .row .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 100%;
    padding: 20px;
    border: 1px solid #b2b1b1;
    border-radius: 20px;
    box-sizing: border-box;
    transition: all .3s ease;
}

.item_wrap .row .jws_selectbox input[type="radio"] {
    display: none;
}

.item_wrap .row .item:hover {
    background: #808080;
    border: none;
}

.item_wrap .row .jws_selectbox input[type="radio"]:checked+label {
    background: #4DC3FA;
    border: none;
}

.item_wrap .row .item h5 {
    font-size: 18px;
    text-align: center;
    color: #C6C5C3;
}

.item_wrap .row .item strong {
    font-size: 20px;
    font-weight: 700;
    color: #6D6D6D;
    margin: 20px 0;
}

.item_wrap .row .item:hover strong,
.item_wrap .row .item:hover h5 {
    color: #fff;
}

.item_wrap .row .item:hover h5:last-child {
    color: #FEFBB2;
}

.item_wrap .row .jws_selectbox input[type="radio"]:checked+label strong,
.item_wrap .row .jws_selectbox input[type="radio"]:checked+label h5 {
    color: #fff;
}

.item_wrap .row .jws_selectbox input[type="radio"]:checked+label h5:last-child {
    color: #FEFBB2;
}

.jws_checkbox {
    margin-bottom: 40px;
}

.jws_checkbox .row label {
    font-size: 20px;
    font-weight: bold;
    color: #353434;
    margin: 0 20px 0 10px;
}

.checkbox_wrap {
    padding: 0 34px;
    box-sizing: border-box;
}

.jws_checkbox .row {
    box-sizing: border-box;
}

.site-footer {
    background: #F2F2F2;
}

.site-footer .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 280px;
    gap: 40px;
    padding: 0 16px;
    box-sizing: border-box;
}

.site-footer .span3 {
    align-self: flex-start;
}

.site-footer .span7 {
    display: flex;
    align-self: flex-end;
    gap: 20px;
    font-size: 13px;
}

.site-footer .span7 h3 {
    font-size: 25px;
    font-weight: 700;
    color: #000;
}

.dwb_footer_logo_img {
    max-width: 300px;
}

@media screen and (max-width: 780px) {
    .site-footer .container {
        height: 100%;
        gap: 20px;
    }
    .site-footer .span7 {
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
    }
    .jws_selectbox {
        width: 250px;
        height: auto;
    }
    .item_wrap .row {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap-reverse;
        row-gap: 20px;
        margin: 0 20px 0 10px;
    }
    .item_wrap .row .item {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 667px) {
    .site-footer .container {
        height: 100%;
        gap: 20px;
    }
    .site-footer .span7 {
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
    }
    .jws_selectbox {
        width: 170px;
        height: auto;
    }
    .item_wrap .row {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap-reverse;
        row-gap: 20px;
        margin: 0 20px 0 20px;
    }
    .item_wrap .row .item {
        width: 100%;
        height: 100%;
    }
    .item_wrap .row .item h5 {
        font-size: 15px;
        text-align: center;
        color: #C6C5C3;
    }
    .jws_checkbox .row label {
        font-size: 13px;
        margin: 0;
    }
}